<ion-content [fullscreen]="true" class="login-container">
  <ion-card>
    <div class="login-image">
    <img src="assets/Images/ima.jpg" alt="Login Image" />
  </div>
  </ion-card>
  

  <ion-card class="login-card">
    <ion-card-content>
      <h1 class="login-title">Login</h1>

      <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <ion-card class="input-card">
          <ion-card-content>
            <app-input
              label="Email"
              type="email"
              placeholder="example@exam.com"
              formControlName="email"
            >
            </app-input>
          </ion-card-content>
        </ion-card>

        <ion-card class="input-card">
          <ion-card-content>
            <app-input
              label="Password"
              type="password"
              placeholder="*********"
              formControlName="password"
            >
            </app-input>
          </ion-card-content>
        </ion-card>

        <div class="button-group">
          <app-button
            color="primary"
            (click)="goToRegister()"
            value="Go to Register"
            class="secondary-button"
          >
          </app-button>

          <app-button
            type="submit"
            color="primary"
            value="Login"
            [disable]="loginForm.invalid"
            class="primary-button"
          >
          </app-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
