.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 16px;
  margin: 0 auto;
  max-width: 1200px;
  
  app-card {
    display: block;
    height: 100%;
  }
}

.cards-container ion-card {
  margin: 0;
}


.back-button-container {
  padding: 16px;
  display: flex;
  justify-content: center;
}
